.sidebar+.main-content {
    .iq-navbar-header {
        color: $white;
        .iq-container {
            padding: calc(var(--bs-gutter-x, .75rem) * 3);
            h1,h2,h3,h4,h5,h6, a, p {
                color: inherit;
            }
        }
        .iq-header-img {
            position: absolute;
            top: 0;
            z-index: -1;
            height: 264px;
            width: 100%;
            transition: all 400ms;
            transform-origin: center left;
        }
        
    }
}


.sidebar.sidebar-mini+.main-content {
    .iq-header-img {
        transition: all 400ms;
    }
}
.landing-header{
    ul.navbar-nav{
        >li {
            >.nav-link {
                font-weight: 500;
                font-size: 1rem;
                color: $body-color;
                padding-left: 1.5em;
                &.active{
                    color: $primary;
                }
            }
        }
    }
}
ul.nav li.dropdown:hover ul.dropdown-menu{ display: block; }
.landing-header{
    .navbar{
        &.hover-nav{
            ul.navbar-nav{
                .nav-item{
                    &:hover{
                        .nav-link {
                            color: $primary;
                        }
                    } 
                }
            }
        } 
    } 
}

@include media-breakpoint-down(xl) {
    .landing-header{
        ul.navbar-nav{
            >li {
                >.nav-link {
                    padding: 0.5em 1em 1em;
                }
            }
        }
    }
    .landing-header{
        ul.navbar-nav li:hover>ul {
            display: block;
            -webkit-transition: all .2s ease-in-out;
            -o-transition: all .2s ease-in-out;
            transition: all .2s ease-in-out;
        }
    }
   
}
@include media-breakpoint-down(md) {
    .iq-navbar-header{
        .iq-header-img{
            height: 310px !important;
        }
    }
    .conatiner-fluid{
        &.content-inner{
            &.mt-n5{
                margin-top: unset !important;
            }
        }
    }

    
}