{{#extend 'modules/landing-pages/layouts/default' title="saas-marketing-landing-page"   isFooter="true" isHeader1="true"  active="saas-marketing-landing-page" path="../" isBanner="false" isSwiperSlider="true"}}
{{#content "content"}}
<div class="banner-one-app">
    <div class="container">
        <div class="row">
             <div class="col-sm-7">
                <h2 class="text-primary mb-4">We Offer assistance <br>Businesses <span class="text-secondary">Develop in our Platform</span> </h2>
                <p class="mb-5">HopeUI CRM and Promoting mechanization stage was built to assist your commerce to capture more leads, sustain & near deals.</p>
                <a hrer="javascript" class="btn btn-primary">Try It For Free</a>
            </div>
            <div class="col-sm-5 banner-one-img">
                <img src="{{path}}landing-pages/assets/images/home-3/banner-right.webp" alt="" class="img-fluid ">
            </div> 
        </div>
    </div>
</div>
<div class="inner-box">
    <div class="container bg-secondary p-5 rounded-3">
        <div class="col-lg-12">
            <p class="text-white text-center mb-4">
                Trusted  by  customers,  partners  and  the industry
            </p>
        </div>
       <div class="row row-cols-1 row-cols-sm-2 row-cols-md-5 align-items-center ">
            <div class="col">
                {{> modules/landing-pages/components/widgets/client clientImage="07.png" }}
            </div>
            <div class="col">
                {{> modules/landing-pages/components/widgets/client clientImage="08.png" }}
            </div>
            <div class="col">
                {{> modules/landing-pages/components/widgets/client clientImage="09.png" }}
            </div>
            <div class="col">
                {{> modules/landing-pages/components/widgets/client clientImage="10.png" }}
            </div>
            <div class="col">
                {{> modules/landing-pages/components/widgets/client clientImage="11.png" }}
            </div>
        </div>
    </div>
</div>
<div class="section-padding bg-white">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-6">
                <img src="{{path}}landing-pages/assets/images/home-3/business.png" alt="" class="img-fluid ">
            </div>
            <div class="col-md-6">
                <p class="mb-3 text-uppercase">
                    grow your business
                </p>
                <h2 class="text-secondary mb-4">Grow <span class="text-primary">Your <br>Activity</span></h2>
                <p class="mb-5">Get qualified proposition inside 24 hours. Meet favorites and enlist the most excellent fit. Utilize Saasworld to chat or video call, share records, and track extend breakthroughs from your desktop or versatile.</p>
                    <a hrer="about.html" class="btn btn-primary">About us</a>
            </div>
        </div>
    </div>
</div>
<div class="section-padding page-bg">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-6">
                <p class="mb-3 text-uppercase">
                    Grow your audience
                </p>
                <h2 class=" mb-4">Improve <span class="text-primary">your Audience.</span></h2>
                <p class="mb-5">Get qualified proposition inside 24 hours. Meet favorites and enlist the most excellent fit. Utilize Saasworld to chat or video call, share records, and track extend breakthroughs from your desktop or versatile.</p>
                    <a hrer="about.html" class="btn btn-primary">About us</a>
            </div>
            <div class="col-md-6">
                <img src="{{path}}landing-pages/assets/images/home-3/audience.webp" alt="" class="img-fluid ">
            </div>
        </div>
    </div>
</div>
<div class="section-padding bg-secondary">
    <div class="container">
         <div class="row align-items-center text-center row-cols-2 row-cols-sm-2 row-cols-md-2 row-cols-lg-4">
            <div class="col mb-lg-0 mb-4">
                {{> modules/landing-pages/components/widgets/counter-1 couterVlue="3" counterTitle="Best Designer Award" }}
            </div>
            <div class="col mb-lg-0 mb-4">
                 {{> modules/landing-pages/components/widgets/counter-1 couterVlue="50+" counterTitle="Loyal Clients" }}
            </div>
            <div class="col ">
                 {{> modules/landing-pages/components/widgets/counter-1 couterVlue="158+" counterTitle="Nominee Awards" }}
            </div>
            <div class="col">
                 {{> modules/landing-pages/components/widgets/counter-1 couterVlue="92+" counterTitle="CSS Designs" }}
            </div>
        </div>
    </div>
</div>
<div class="section-padding bg-white">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-12 text-center">
                <p class="mb-2 text-primary">
                   work
                </p>
                <h2 class="mb-5">How <span class="text-primary">we work</span> </h2>
            </div>
            <div class="col-lg-4 text-center">
                <div class="services bg-soft-primary rounded-pill text-center mx-auto mb-4">
                    <svg width="30" height="28" viewBox="0 0 30 28" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M22.065 11.1082C22.065 11.8574 22.665 12.4567 23.415 12.4567C24.165 12.4567 24.78 11.8574 24.78 11.1082C24.78 10.3591 24.165 9.74475 23.415 9.74475C22.665 9.74475 22.065 10.3591 22.065 11.1082ZM19.155 20.1582C18.09 21.222 16.62 21.8813 15 21.8813C13.425 21.8813 11.955 21.2669 10.83 20.1582C9.72 19.0344 9.105 17.5661 9.105 15.9928C9.09 14.4345 9.705 12.9662 10.815 11.8424C11.94 10.7187 13.425 10.1044 15 10.1044C16.575 10.1044 18.06 10.7187 19.17 11.8274C20.28 12.9512 20.895 14.4345 20.895 15.9928C20.88 17.626 20.22 19.0944 19.155 20.1582ZM15 12.3519C14.025 12.3519 13.11 12.7264 12.405 13.4307C11.715 14.1199 11.34 15.0339 11.355 15.9778V15.9928C11.355 16.9667 11.73 17.8807 12.42 18.5699C13.11 19.2592 14.025 19.6338 15 19.6338C17.01 19.6338 18.63 18.0006 18.645 15.9928C18.645 15.0189 18.27 14.1049 17.58 13.4157C16.89 12.7264 15.975 12.3519 15 12.3519Z" fill="#3A57E8"/>
                        <path opacity="0.4" d="M23.16 5.35461L23.01 5.02497C22.605 4.17092 22.14 3.18202 21.855 2.61265C21.165 1.26415 19.98 0.514983 18.525 0.5H11.46C10.005 0.514983 8.835 1.26415 8.145 2.61265C7.845 3.21199 7.335 4.29079 6.915 5.17481L6.825 5.35461C6.78 5.47447 6.66 5.53441 6.54 5.53441C2.925 5.53441 0 8.47114 0 12.0671V20.9673C0 24.5633 2.925 27.5 6.54 27.5H23.46C27.06 27.5 30 24.5633 30 20.9673V12.0671C30 8.47114 27.06 5.53441 23.46 5.53441C23.325 5.53441 23.22 5.45949 23.16 5.35461Z" fill="#3A57E8"/>
                    </svg>
                </div>
                <h5 class="mb-4">Capture</h5>
                <p class="mb-0">
                    Get qualified proposition inside 24 hours. Meet favorites and enlist the most excellent fit. Utilize Saasworld to chat or video call.
                </p>
            </div>
            <div class="col-lg-4 text-center">
                <div class="services bg-soft-primary rounded-pill text-center mx-auto mb-4">
                    <svg width="28" height="30" viewBox="0 0 28 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path opacity="0.4" d="M20.2865 0H7.715C3.155 0 0.5 2.67 0.5 7.245V22.74C0.5 27.39 3.155 30 7.715 30H20.2865C24.92 30 27.5 27.39 27.5 22.74V7.245C27.5 2.67 24.92 0 20.2865 0Z" fill="#3A57E8"/>
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M8.12 6.97498V6.98998C7.4735 6.98998 6.95 7.51498 6.95 8.15998C6.95 8.80498 7.4735 9.32998 8.12 9.32998H12.6035C13.25 9.32998 13.775 8.80498 13.775 8.14348C13.775 7.49998 13.25 6.97498 12.6035 6.97498H8.12ZM19.88 16.11H8.12C7.4735 16.11 6.95 15.585 6.95 14.94C6.95 14.295 7.4735 13.7685 8.12 13.7685H19.88C20.525 13.7685 21.05 14.295 21.05 14.94C21.05 15.585 20.525 16.11 19.88 16.11ZM19.88 22.965H8.12C7.67 23.025 7.235 22.8 6.995 22.425C6.755 22.035 6.755 21.54 6.995 21.165C7.235 20.775 7.67 20.565 8.12 20.61H19.88C20.4785 20.67 20.93 21.18 20.93 21.795C20.93 22.3935 20.4785 22.905 19.88 22.965Z" fill="#3A57E8"/>
                    </svg>
                </div>
                <h5 class="mb-4">Follow up</h5>
                <p class="mb-0">
                    Get qualified proposition inside 24 hours. Meet favorites and enlist the most excellent fit. Utilize Saasworld to chat or video call.
                </p>
            </div>
            <div class="col-lg-4 text-center">
                 <div class="services bg-soft-primary rounded-pill text-center mx-auto mb-4">
                    <svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path opacity="0.4" d="M21.5105 -0.000244141H8.50546C3.42046 -0.000244141 0.000457764 3.56976 0.000457764 8.87976V21.1348C0.000457764 26.4298 3.42046 29.9998 8.50546 29.9998H21.5105C26.5955 29.9998 30.0005 26.4298 30.0005 21.1348V8.87976C30.0005 3.56976 26.5955 -0.000244141 21.5105 -0.000244141Z" fill="#3A57E8"/>
                        <path d="M13.2201 19.8719C12.8841 19.8719 12.5481 19.7444 12.2916 19.4879L8.7321 15.9284C8.2191 15.4154 8.2191 14.5844 8.7321 14.0729C9.2451 13.5599 10.0746 13.5584 10.5876 14.0714L13.2201 16.7039L19.4121 10.5119C19.9251 9.99895 20.7546 9.99895 21.2676 10.5119C21.7806 11.0249 21.7806 11.8559 21.2676 12.3689L14.1486 19.4879C13.8921 19.7444 13.5561 19.8719 13.2201 19.8719Z" fill="#3A57E8"/>
                    </svg>
                </div>
                <h5 class="mb-4">Close</h5>
                <p class="mb-0">
                   Get qualified proposition inside 24 hours. Meet favorites and enlist the most excellent fit. Utilize Saasworld to chat or video call.
                </p>
            </div>
        </div>
    </div>
</div>
<div class="section-padding">
    <div class="container">
         <div class="row align-items-center text-center">
             <div class="col-lg-12">
                 <p class="mb-4 text-uppercase">Testimony</p>
                    <h2 class="text-secondary">What our <span class="text-primary">Customer’s <br> are saying</span></h2>
             </div>
          <div class="overflow-hidden slider-circle-btn" id="testimonial-slider">
            <ul  class="p-0 m-0 mb-2 swiper-wrapper list-inline">
                <li class="swiper-slide">
                    {{> modules/landing-pages/components/widgets/testiominal  testText="Torquatos nec eu, detr periculis ex, nihil expetendis in mei. Mei an pericula euripidis.hinc partem ei est. Eos ei nisl graecis, vix aperiri consequat an. Eius lorem tincidunt vix at, vel pertinax sensibus id, error epicurei mea. Mea facilisis urbanitas.Torquatos nec eu, detr periculis ex, nihil expetendis in mei." testOwner="Elsa Schmidt" testSubtitle="Spa" }}
                </li>
                <li class="swiper-slide">
                    {{> modules/landing-pages/components/widgets/testiominal  testText="Torquatos nec eu, detr periculis ex, nihil expetendis in mei. Mei an pericula euripidis.hinc partem ei est. Eos ei nisl graecis, vix aperiri consequat an. Eius lorem tincidunt vix at, vel pertinax sensibus id, error epicurei mea. Mea facilisis urbanitas.Torquatos nec eu, detr periculis ex, nihil expetendis in mei." testOwner="Elsa Schmidt" testSubtitle="Spa" }}
                </li>
                <li class="swiper-slide">
                    {{> modules/landing-pages/components/widgets/testiominal  testText="Torquatos nec eu, detr periculis ex, nihil expetendis in mei. Mei an pericula euripidis.hinc partem ei est. Eos ei nisl graecis, vix aperiri consequat an. Eius lorem tincidunt vix at, vel pertinax sensibus id, error epicurei mea. Mea facilisis urbanitas.Torquatos nec eu, detr periculis ex, nihil expetendis in mei." testOwner="Elsa Schmidt" testSubtitle="Spa" }}
                </li>
                <li class="swiper-slide">
                    {{> modules/landing-pages/components/widgets/testiominal  testText="Torquatos nec eu, detr periculis ex, nihil expetendis in mei. Mei an pericula euripidis.hinc partem ei est. Eos ei nisl graecis, vix aperiri consequat an. Eius lorem tincidunt vix at, vel pertinax sensibus id, error epicurei mea. Mea facilisis urbanitas.Torquatos nec eu, detr periculis ex, nihil expetendis in mei." testOwner="Elsa Schmidt" testSubtitle="Spa" }}
                </li>
                <li class="swiper-slide">
                    {{> modules/landing-pages/components/widgets/testiominal  testText="Torquatos nec eu, detr periculis ex, nihil expetendis in mei. Mei an pericula euripidis.hinc partem ei est. Eos ei nisl graecis, vix aperiri consequat an. Eius lorem tincidunt vix at, vel pertinax sensibus id, error epicurei mea. Mea facilisis urbanitas.Torquatos nec eu, detr periculis ex, nihil expetendis in mei." testOwner="Elsa Schmidt" testSubtitle="Spa" }}
                </li>
            </ul>
             <div class="swiper-button swiper-button-next"></div>
            <div class="swiper-button swiper-button-prev"></div>
        </div>
    </div>
    </div>
</div>
<div>
    <img src="{{path}}landing-pages/assets/images/home-3/fullbanner.webp" alt="" class="img-fluid ">
</div>
<div class="section-padding page-bg">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-12 text-center">
                <p class="mb-2 text-uppercase text-primary">
                   team
                </p>
                <h2 class="text-secondary mb-4">Expert  <span class="text-primary">Teams</span></h2>
            </div>
        <div class="col-md-3 col-sm-2">
            <div class="card team-image">
                {{> modules/landing-pages/components/widgets/team teamImage="team1.webp" teamTitle="Darlene Robertson" teamText="Founder" }}
            </div>
        </div>
        <div class="col-md-3 col-sm-2">
            <div class="card team-image">
                {{> modules/landing-pages/components/widgets/team teamImage="team2.webp" teamTitle="Floyd Miles" teamText="UI designer" }}
            </div>
        </div>
        <div class="col-md-3 col-sm-2">
            <div class="card team-image">
                {{> modules/landing-pages/components/widgets/team teamImage="team-3.jpg" teamTitle="Arlene McCoy" teamText="Researcher" }}
            </div>
        </div>
        <div class="col-md-3 col-sm-2">
            <div class="card team-image">
                {{> modules/landing-pages/components/widgets/team teamImage="team-4.webp" teamTitle="Darlene Robertson" teamText="Founder" }}
            </div>
        </div>
        </div>
    </div>
</div>
<div class="section-padding bg-white">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-4 ">
                <p class="mb-3 text-primary text-uppercase">Pricing</p>
                <h2 class="mb-4">Our <span class="text-primary">Price Plans</span></h2>
                <p class="mb-4">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. </p>
                <a href="contact.html" class="btn btn-primary">Contact Us</a>
            </div> 
            <div class="col-lg-8">
                <div class="row iq-star-inserted row-cols-1 row-cols-md-2 row-cols-lg-2 mb-5 text-center">
                    <div class="col iq-star-inserted-2">
                    <div class="card mb-0 shadow-lg bg-white">
                        <div class="card-body">
                            <h5 class="my-0 fw-normal mb-4">Pro</h5>
                            <h5 class="card-title pricing-card-title mb-3"><span class="text-primary">$15</span>/month</h5>
                            <p class="mb-0 text-dark">Billed Yearly</p>
                            <p class=" text-dark">$169.99 Billed Monthly</p>
                            <ul class="list-unstyled my-3 p-0">
                                <li><p class="mb-4">20 users included</p></li>
                                <li><p class="mb-4">10 GB of storage</p></li>
                                <li><p class="mb-4">Priority email support</p></li>
                                <li><p class="mb-4">Help center access</p></li>
                                <li><p class="mb-4">Help center access</p></li>
                                <li><p class="mb-4">Help center access</p></li>
                            </ul>
                            <button type="button" class="btn btn-primary">Get Started</button>
                        </div>
                    </div>
                    </div>
                    <div class="col iq-star-inserted-3">
                    <div class="card my-5 page-bg">
                        <div class="card-body">
                            <h5 class="my-0 fw-normal mb-4">Premium</h5>
                            <h5 class="card-title pricing-card-title mb-3"><span class="text-primary">$49</span>/month</h5>
                            <p class="mb-0 text-dark">Billed Yearly</p>
                            <p class=" text-dark">$169.99 Billed Monthly</p>
                            <ul class="list-unstyled my-3 p-0">
                                <li><p>30 users included</p></li>
                                <li><p>15GB of storage</p></li>
                                <li><p>Call and email support</p></li>
                                <li><p>Help center access</p></li>
                                <li><p class="text-decoration-line-through">Help center access</p></li>
                                <li><p class="text-decoration-line-through">Help center access</p></li>
                            </ul>
                            <button type="button" class="btn btn-light w-100">Get Started</button>
                        </div>
                    </div>
                    </div>
                </div>
            </div> 
        </div>
    </div>
</div>
<div class="section-padding">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-12 text-center">
                <p class="mb-2 text-uppercase text-primary">
                   Blog
                </p>
                <h2 class="text-secondary mb-4">All the <span class="text-primary">Support you Need</span></h2>
            </div>
            <div class="overflow-hidden slider-circle-btn" id="app-slider">
                <ul  class="p-0 m-0 mb-2 swiper-wrapper list-inline">
                    <li class="swiper-slide card-slide card mb-0 overflow-hidden">
                        {{> modules/landing-pages/components/widgets/blog blogImage="home-3/02.png" blogTitle="The Shaping the futures, part by part." blogText="Video" }}
                    </li>
                    <li class="swiper-slide card-slide card mb-0 overflow-hidden">
                        {{> modules/landing-pages/components/widgets/blog blogImage="home-3/03.png" blogTitle="Technology that unwinds your potential." blogText="Video" }}
                    </li>
                    <li class="swiper-slide card-slide card mb-0 overflow-hidden">
                        {{> modules/landing-pages/components/widgets/blog blogImage="home-3/04.png" blogTitle="Generating the best online environment." blogText="Video" }}
                    </li>
                    <li class="swiper-slide card-slide card mb-0 overflow-hidden">
                        {{> modules/landing-pages/components/widgets/blog blogImage="home-3/02.png" blogTitle="The Shaping the futures, part by part." blogText="Video" }}
                    </li>
                    <li class="swiper-slide card-slide card mb-0 overflow-hidden">
                        {{> modules/landing-pages/components/widgets/blog blogImage="home-3/03.png" blogTitle="Technology that unwinds your potential." blogText="Video" }}
                    </li>
                    <li class="swiper-slide card-slide card mb-0 overflow-hidden">
                        {{> modules/landing-pages/components/widgets/blog blogImage="home-3/04.png" blogTitle="Generating the best online environment." blogText="Video" }}
                    </li>
                </ul>
                <div class="swiper-button swiper-button-next"></div>
                <div class="swiper-button swiper-button-prev"></div>
            </div>
        </div>
    </div>
</div>
<div class="section-padding bg-white">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <p class="text-uppercase text-primary">faq</p>
                <h2 class="mb-4">The Foremost Common <span class="text-primary">Questions</span></h2>
            </div>
            <div class="col-lg-12">
                <div class="accordion custom-accordion" id="accordionExample">
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingOne">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit?
                        </button>
                        </h2>
                        <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            <p class="mb-0">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat.</p>
                        </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingTwo">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit?
                        </button>
                        </h2>
                        <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            <p class="mb-0">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat.</p>
                        </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingThree">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit?
                        </button>
                        </h2>
                        <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            <p class="mb-0">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat.</p>
                        </div>
                        </div>
                    </div>
                        <div class="accordion-item">
                        <h2 class="accordion-header" id="headingFour">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit?
                        </button>
                        </h2>
                        <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            <p class="mb-0">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat.</p>
                        </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingFive">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit?
                        </button>
                        </h2>
                        <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive" data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <p class="mb-0">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{{/content}}
{{/extend}}