<!doctype html>
<html lang="en" dir="ltr" class="landing-pages">
  <head>
    <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <title>{{ appName }} | Responsive Bootstrap 5 Admin Dashboard Template</title>
      {{> partials/dashboard/head }}
      {{> modules/landing-pages/components/partials/head }}
      {{#block "head"}}
        {{!-- External-page-head-section --}}
      {{/block}}
  </head>
  <body class="{{bodyClass}} body-bg landing-pages">
    <span class="screen-darken"></span>
    <!-- loader-Start -->
    <div id="loading">
      {{> partials/dashboard/loader }}
    </div>
    <!-- loader-END -->
    <!-- Wrapper-start -->
    <main class="main-content">
      <div class="position-relative">
        <!-- Nav-Start -->
        {{#compare isHeader1 '==' 'true'}}
          {{> modules/landing-pages/components/partials/header-1  }}
        {{/compare}}
         {{#compare isHeader2 '==' 'true'}}
            {{> modules/landing-pages/components/partials/header-2  }}
        {{/compare}}
        <!--Nav-End-->
      </div>
        {{#block "content"}}
        {{/block}}
    </main>
    <!-- Wrapper-End -->
    <!-- Footer-start -->
        {{#compare isFooter '==' 'true'}}
          {{> modules/landing-pages/components/partials/footer  }}
        {{/compare}}
        {{#compare isFooter1 '==' 'true'}}
            {{> modules/landing-pages/components/partials/footer-one  }}
        {{/compare}}
        {{#compare isFooter2 '==' 'true'}}
            {{> modules/landing-pages/components/partials/footer-two  }}
        {{/compare}}
    <!-- Footer-end -->
     {{!-- Back-To-Top --}}
    <div id ="back-to-top" style="display: none;">
        <a class="p-0 btn btn-primary btn-sm position-fixed top" id="top" href="#top">
            <svg class="icon-30" width="30" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M5 15.5L12 8.5L19 15.5" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
            </svg>
        </a>
    </div>
    {{!-- Back-To-end --}}
     <a class="btn btn-fixed-end btn-primary btn-icon btn-landing" href="{{path}}dashboard/index.html">
      Dashboard Demo
    </a>

      <!-- offcanvas start -->
    {{> partials/dashboard/scripts }}
     {{> modules/landing-pages/components/partials/scripts  }}
    {{#block "scripts"}}
    {{/block}}
  </body>
</html>
